
body, html {
	height: 100%;
	font-family: 'Oswald', sans-serif;
	margin: 0;
	font-size: 16px;
	background: linear-gradient(to right, #FFB6B6 10%, #7F7F7F);

}


footer {
	text-align: center;
	color: white;
	background-color: black;
	padding: 0.1em;
	clear: both;
}

footer img{
	margin: 5px;
}

header {
	background-color: red;
	display: inline-block;
	width: 100%;
}


.logo{
	float: left;
    margin-right: 20px;
    margin-top: 5px;  
    margin-left: 5px;
    background-color: red;
}



.navigation {
	margin-top: 50px;
	overflow: hidden;
	background-color: red;
}

.navigation a {
  float: left;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbutton {
  font-size: 30px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navigation a:hover, .dropdown:hover .dropbutton {
  background-color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hamburger{
	border: 0;
	background-color: transparent;
	font-size: 20px;
	cursor: pointer;
	display: none;
	margin-top: 50px;
	margin-right: 20px;
	float: right;
}



.topnav {
  overflow: hidden;
  background-color: black;
  position: relative;
}

.topnav #linkovi {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: black;
  color: red;
}



.aktiv {
  background-color: limegreen;

}

.aktiv a:hover{
	color: red;
}




.bg-image {
  height: 100%; 
  background-position: center;
  background-size: cover;
  background-image: url("slike/stadion.jpg");
  font-size: 40px;
  text-align: center;
  color: yellowgreen;
}

.naslov{
	padding-top: 100px;
	font-size: 80px;
	font-style: italic;
}


h1{
	font-size: 40px;
	text-align: center;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: red;
	border-radius: 50%;
}

h3{
	border-bottom-style: solid;
	border-width: 4px;
	border-color: red;
	text-align: right;
	font-size: 20;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: black;

}

h4{
	margin-left: 10%;
	font-size: 18px;
	text-decoration: underline;
}

h5{
	text-align: right;
	margin-top: 0;
	margin-right: 35%;
	font-size: 16px;
}

main p{
	margin-left: 20%;
}

main a{
	text-decoration: none;
}

hr{
	width: 98%;
	border: 1px dotted black;

}

.newpost{
	width: 95%;
	overflow: hidden;
}

.newpost img{
	float: left;
	margin: 10px;
	max-width: 300px;
	max-height: 300px;
}

.newpost p{
	text-align: justify;
	margin-top: 20px;
}


.profil {
	margin-left: 10px;
	margin-bottom: 10px;
	width: 95%;
	overflow: hidden;
	background-color: indianred;
	padding: 5px;

}


.profil h2{
	position: relative;
	left: 10px;
	top: 30px;
	font-size: 25px;
}

.avatar{
	border-radius: 50%;
	width: 150px;
	float: left;
}



.gallery{
	max-width: 400px;
	position: relative;
	margin: auto;
	flex-basis: 50%;
	height: 100%;
	
}



.gallery img{
	max-height: 600px;
	width: 100%;
	border: 10px solid rgb(255, 177, 177);
	box-sizing: border-box;
}

.gallery ul{
	position: absolute;
	right: -100px;
	top: 50%;
	transform: translateY(-50%);
}

.gallery ul li{
	list-style: none;
	font-size: 16px;
	font-weight: bold;
	padding: 0 30 px;
	margin-bottom: 30px;
	cursor: pointer;
	position: relative;
}

.active {
	color: limegreen;
}


.gallery2{
	max-width: 700px;
	position: relative;
	margin: auto;
	flex-basis: 50%;
	height: 100%;
	
}



.gallery2 img{
	max-height: 500px;
	width: 100%;
	border: 10px solid rgb(255, 177, 177);
	box-sizing: border-box;
}

.gallery2 ul{
	position: absolute;
	right: -100px;
	top: 50%;
	transform: translateY(-50%);
}

.gallery2 ul li{
	list-style: none;
	font-size: 16px;
	font-weight: bold;
	padding: 0 30 px;
	margin-bottom: 30px;
	cursor: pointer;
	position: relative;
}




video{
	display: block;
	margin: 0 auto;
	background-color: black;
	padding: 4px;
}

.plakat{
	display: block;
	margin:  0 auto;
	border-width: 2px;
	border-style: solid;
	border-color: red;
}

iframe{
	display: block;
	margin: 0 auto;
	background-color: black;
	padding: 4px;

}

form {
	width: 200px;
	margin-left: 20px;
	background-color: lavender;
	padding: 3px;
}

.form-group{
	width: 90%;
	margin: auto;
}

@media screen and (max-width:  767px){
	.navigation{
		display: none;
	}
	

	.hamburger{
		display: block;
	}
	


}





 